// MAIN // 

.second_conteiner {
    width: 100%;
    height: auto;
    margin-top: 11px;
        .first_text {
            width: 222px;
            height: auto;
            margin-left: 16px;
                p {
                    font-family: $tipografia-IBM-sans;
                    font-size: 36px;
                    color: $color-tipografias;
                    letter-spacing: 0;
                    line-height: 42px;
                }
        }
}

.second_text {
    width: 288px;
    height: 66px;
    margin: auto;
            p {
                font-family: $tipografia-IBM-mono;
                font-size: 14px;
                color: $color-tipografias;
                letter-spacing: 0;
                line-height: 22px;
                        span {
                            display: none;
                        }
            }
    
}

a {
    text-decoration: none;
}

.btn_conoce_mas {
    width: 288px;
    height: 48px;
    margin-left: 16px;
    background: #00F3BB;
    cursor: pointer;
    border: none;
    margin-top: 36px;
    font-family: $tipografia-IBM-mono;
    font-weight: 500;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height:45px;
    &:hover {
        background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
        color: white;
    }
}           


.blue_conteiner::before {
    width: 100%;
    height: 1203.5px;
    position: absolute;
    top: 24px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    content: "";
    transform: skewY(-5deg);
    z-index: -1;
            
}


.blue_conteiner {
    width: 100%;
    height: 1203.5px;
    position: relative;
    margin-top: 24px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100% 0.2);
            
}

.blue_conteiner h1 {
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 42px;
    font-family: $tipografia-IBM-sans;
    position: relative;
    top: 64px;
    left: 16px;
            
}

.videos {
     margin-top: 25.4%;
     margin-right: 16px;
            .iframes {
                margin: auto;
                padding-bottom: 0.2%;
                width: 100%;
                        iframe {
                            position: relative;
                            top: 0.4%;
                            left: 3.4%;
                            right: 3.4%;
                            padding-bottom: 11px;
                        }
    }
}



// SECCION DEL TELEFONO // 

.phone {
    width: 112.5%;
    height: 9.5%;
            img {
                width: 360px;
                height: 519px;
                position: relative;
                top: -65px;
                left: -20px;
            }
}

.phone_text {
    width: 90%;
    height: 1.5%;
    margin-left: 16px;
    margin-top: -13.5%;
            h1 {
                font-family: $tipografia-IBM-sans;
                font-size: 36px;
                color: $color-tipografias;
                letter-spacing: 0;
                line-height: 42px;
                        
            }
}

.phone_text p {
    font-family: $tipografia-IBM-mono;
    font-size: 14px;
    color: $color-tipografias;
    letter-spacing: 0;
    line-height: 22px;
    margin-top: 8px;
}

.photos_title {
    width: 90%;
    height: 1.5%;
    margin-left: 16px;
    margin-top: 57px;
    margin-bottom: 14px;
            p {
                font-family: $tipografia-IBM-sans;
                font-size: 36px;
                color: $color-tipografias;
                letter-spacing: 0;
                line-height: 42px;
            }
}

.photos {
    width: 100%;
    height: 27%;
    display: flex;
    flex-direction: column;
            img {
                width: 320px;
                height: 243px;
            }
}


.topic_section_title {
    width: 90%;
    height: 1.5%;
    margin-left: 16px;
    margin-top: 0.9%;
            p {
                font-family: $tipografia-IBM-sans;
                font-size: 36px;
                color: $color-tipografias;
                letter-spacing: 0;
                line-height: 42px;
            }
}


.topic_section_title {
     width: 288px;
     height: 84px;
     margin-left: 16px;
     margin-top: 48px; 
}

.conteiner_group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 37px;
    margin-bottom: 94px;
             p {
                font-family: $tipografia-IBM-sans;
                font-weight: 600;
                font-size: 24px;
                color: $color-tipografias;
                letter-spacing: 0;
                text-align: center;
                margin-top: 13px;
                margin-bottom: -49px;
                                }
        
}

// CONTENEDOR AZUL 2 // 


.blue_conteiner2 {
    width: 100%;
    height: 341px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100% 0.2);
    position: relative;
    top: 42px;
    z-index: -1;
            &::before {
                width: 100%;
                height: 341px;
                background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100% );
                content: "";
                transform: skewY(-6deg);
                position: absolute;
                top: -18px;
                z-index: -1;

            }
    }

    

.conteiner2_title {
    width: 288px;
    height: 126px;
    position: relative;
    top: 9.2%;
    left: 16px;
            h1 {
                font-family: $tipografia-IBM-sans;
                font-size: 36px;
                color: #FFFFFF;
                letter-spacing: 0;
                text-align: center;
                line-height: 42px;
                margin-top: 64px;
                
            }
}

.btn_episodios {
    width: 288px;
    height: 48px;
    background: #00F3BB;
    margin-top: 67px;
    margin-left: 16px;
    font-family: $tipografia-IBM-mono;
    font-weight: 500;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    cursor: pointer;
    border: none;
    line-height: 46px;
    &:hover {
        background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
        color: white;
    }
    
}

#boton_episodios {
    text-decoration: none;
   
}